* {
    margin: 0;
    padding: 0;
    outline: none;
    color: #fff;
}

body {
    background-color: #000;
    width: 100%;
}

.title {
    font-size: 45px;
    text-align: center;
}

.search-input {
    display: block;
    background-color: #000;
    border: none;
    padding: 10px;
    width: 400px;
    border-bottom: 2px solid #ff4f12;
    margin: 30px auto;
}

.film {
    display: inline-block;
}

.film-poster {
    width: 150px;
}